{{- if eq .Action "opened" -}}
📢 New Pull Request!

Repository: {{.Repo}}
Title: {{.Title}}
Author: {{.Author}}

Pull Request URL:
{{.URL}}
{{- else if and (eq .Action "closed") .Merged -}}
✅ Pull Request Merged!

Repository: {{.Repo}}
Title: {{.Title}}
Author: {{.Author}}
Merged by: {{.MergedBy}}

Pull Request URL:
{{.URL}}
{{- else if and (eq .Action "closed") (not .Merged) -}}
🚫 Pull Request Closed!

Repository: {{.Repo}}
Title: {{.Title}}
Author: {{.Author}}

Pull Request URL:
{{.URL}}
{{- end -}}
