{{- if eq .Action "created" -}}
{{- $file := .File -}}
{{- if .Line -}}{{- $file = printf "%s:%d" .File .Line -}}{{- end -}}
📝 New review comment on PR #{{.PRNumber}}

{{quote (printf "Title: %s\nAuthor: %s\nFile: %s\nComment: %s\n\nComment URL:\n%s" .PRTitle .Author $file .Body .URL)}}
{{- end -}}
