{{- if eq .Action "published" -}}
🚀 Tag Release {{.TagName}}

Repository: {{.Repo}}
Author: {{.Author}}{{if .Prerelease}} (pre-release){{end}}

Description:
{{.Body}}

🔗 <a href="{{.URL}}">View Release</a>
{{- end -}}