{{- if eq .Action "published" -}}
{{- $author := .Author -}}
{{- if .Prerelease -}}{{- $author = printf "%s (pre-release)" .Author -}}{{- end -}}
🚀 Tag Release {{.TagName}}

{{quote (printf "Repository: %s\nAuthor: %s\n\nDescription:\n%s\n\n🔗 <%s|View Release>" .Repo $author .Body .URL)}}
{{- end -}}
