{{- if and (eq .Action "completed") (eq .Name "Build and Deploy") -}}
{{- if eq .Conclusion "success" -}}
✅ Build Pipeline succeeded
Project: {{.Repo}}
Tag: {{.Branch}}
Commit: {{.HeadSHA}}
URL: {{.URL}}
{{- else if eq .Conclusion "failure" -}}
❌ Build Pipeline failed
Project: {{.Repo}}
Tag: {{.Branch}}
Commit: {{.HeadSHA}}
URL: {{.URL}}
{{- else -}}
⚠️ Build Pipeline {{.Conclusion}}
Project: {{.Repo}}
Tag: {{.Branch}}
Commit: {{.HeadSHA}}
URL: {{.URL}}
{{- end -}}
{{- end -}}