{{- if and (eq .Action "completed") (eq .Name "Build and Deploy") -}}
{{- if eq .Conclusion "success" -}}
✅ Build Pipeline succeeded

{{quote (printf "Project: %s\nTag: %s\nCommit: %s\nURL: %s" .Repo .Branch .HeadSHA .URL)}}
{{- else if eq .Conclusion "failure" -}}
❌ Build Pipeline failed

{{quote (printf "Project: %s\nTag: %s\nCommit: %s\nURL: %s" .Repo .Branch .HeadSHA .URL)}}
{{- else -}}
⚠️ Build Pipeline {{.Conclusion}}

{{quote (printf "Project: %s\nTag: %s\nCommit: %s\nURL: %s" .Repo .Branch .HeadSHA .URL)}}
{{- end -}}
{{- end -}}
